body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,118,1) 35%, rgba(0,212,255,1) 100%);
  font-family: 'Tilt Prism', cursive;
}

.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.text {
  text-align: center;
  padding: 25px;
  border-bottom: 2px dotted black;
}

/* Header */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid lightgrey;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,60,146,1) 0%, rgba(9,26,121,1) 0%, rgba(0,212,255,1) 100%);
  box-shadow: 10px 10px 10px skyblue;
}

.header h1 {
  margin: 0;
  padding: 0;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-top: 2px solid lightgrey;
}
.footer img {
  height: 20px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* message */

h3 {
  font-size: 30px;
}

@media screen and (max-width: 500px) {
  h3 {
    font-size: 25px;
    margin: 0;
    padding: 0;
  }
  h5 {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
  }
  .text {
    border-bottom: 0px;
  }
}

/* gameboards */

.gameboards{
  flex: 1;
  display: flex;
}

.area {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shot-msg {
  padding-top: 75px;
  font-size: 25px;
}

.leftarea {
  border-right: 2px dotted black;
}

.gameboard {
  width: 20vw;
  height: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 950px) {
  .gameboard {
      width: 40vw;
      height: 40vw;
}
}

@media screen and (max-width: 500px) {
  .gameboards {
    flex-direction: column-reverse;
  }
  .gameboard {
      width: 40vw;
      height: 40vw;
  }
  .leftarea {
    border-right: 0;
    border-top: 2px dotted black;
  }
  .shot-msg {
    padding-top: 10px;
    font-size: 25px;
  }
}

.row {
  flex: 1;
  width: 100%;
  display: flex;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,60,146,1) 0%, rgba(0,99,1,1) 0%, rgba(45,176,0,1) 100%, rgba(0,212,255,1) 100%);
}

.withShip {
  background: black;
}

.cell {
  flex: 1;
  border: 1px solid black;
}

.cell:hover {
  background: skyblue;
  cursor: crosshair;
}

.cell.miss {
  background: whitesmoke;
}

.cell.hit {
  background: red;
}

.cell.sunk {
  background: darkred;
}

/* modal */

.gameover-modal {
  position: absolute;
  left: 50%;
  top: 25%;
  border: 2px solid black;
  padding: 2% 8%;
  border-radius: 25px;
  box-shadow: 10px 10px 10px darkred;
  flex-direction: column;
  align-items: center;
  background: white;
  transition: transform 1s;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transition: 1s ease-in-out;
  display: flex;
}

.active {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%,-50%) scale(1);
  transition: 1s ease-in-out;
}

button {
  padding: 5px 10px;
  border-radius: 10px;
}