body {
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.text {
  text-align: center;
  padding: 25px;
}

/* Header */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border-bottom: 2px solid lightgrey;
}

.header h1 {
  margin: 0;
  padding: 0;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-top: 2px solid lightgrey;
}
.footer img {
  height: 20px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* gameboards */

.gameboards{
  flex: 1;
  display: flex;
}

.gameboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.withShip {
  background: black;
}

.cell {
  width: 25px;
  height: 25px;
  border: 1px solid black;
}

.cell:hover {
  background: skyblue;
  cursor: pointer;
}

.shot {
  background: grey;
}

.shot.withShip, .shot.withShipEnemy {
  background: red;
}

.shot.withShip.sunk, .shot.withShipEnemy.sunk {
  background: darkred;
}